<div class="page__card">
    <RadzenCheckBox class="randomizer__checkbox"
                    TValue="bool"
                    @bind-Value="@Randomize"
                    Change="_randomizeSubject.OnNext" />
    <DiceComponent Dice="Dice" Click="Shuffle" />
    <div class="card__weekday">@($"{Day}:")</div>
    <RadzenDropDown class="randomizer-card__meal-selection"
                    TValue="Meal"
                    Value="@PlannedMeal"
                    Data="@CookbookController.GetMeals()"
                    Placeholder="Select..."
                    AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowClear="true"
                    ValueChanged="@(UpdatePlannedMeal)" />
</div>